<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola, {{name}},</p>
        <p>You requested to reset your password.</p>
        <p> Por favor, para restablecer su contraseña utilice el siguiente código</p>
        <b>Código: </b> <code>{{codigo}}</code>
    </body>
</html>