<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Bienvenid@ a nuestra plataforma REDEM, comparte tus logros, productos y servicios con otros emprendedores</p>
    </body>
</html>